# requirements.txt
chromadb
sentence_transformers
pandas
flask==2.3.3
flask-limiter==3.3.1
huggingface-hub==0.26.2
pyjwt==2.8.0
cryptography==41.0.3
python-dotenv==1.0.0
gunicorn==21.2.0
llama_cpp_python==0.3.1
